<div class="container">
    <div class="mb-3">
        <label for="name" class="form-label">Nome</label>
        <input type="text" class="form-control" id="name" placeholder="Digite o nome da musica">
    </div>
    <div class="mb-3">
        <label for="price" class="form-label">Nota</label>
        <input type="number" class="form-control" id="price" placeholder="Digite a nota para a musica">
    </div>
    <div class="mb-3">
        <label for="category" class="form-label">Categoria</label>
        <input type="text" class="form-control" id="name" placeholder="Digite a categoria para a musica">
    </div>
    <div class="mb-3">
        <label for="artist" class="form-label">Artista</label>
        <input type="text" class="form-control" id="name" placeholder="Digite o Atista para a musica">
    </div>
    <div class="mb-3">
        <label for="year" class="form-label">Ano</label>
        <input type="number" class="form-control" id="name" placeholder="Digite um ano para a musica">
    </div>
    <button type="submit" class="btn btn-primary">Cadastrar</button>
</div> 